*{
    margin:auto;
}


.container{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width:300px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 7px 7px 15px 1px grey;
}

form{
    padding:20px 10px 5px 10px;
    display: flex;
    flex-direction: column;
}

form h2{
    margin-bottom: 25px;

}

form input{
    background-color:transparent;
    color: white;
    width:190px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding:0 5px 0 5px;
    text-align: center;
    border: 2px solid #4EA8DE;
    outline: none;
}


form input:focus{
    width: 200px;
    animation-name: colorchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes colorchange{
    0%{border-color: violet;
    color:violet;}

10%{border-color:indigo;
color:indigo;}

20%{border-color:blue;
color:blue;}

30%{border-color:green;
color:green;}

40%{border-color:yellow;
color:yellow;}

50%{border-color: orange;
color:orange;}

60%{border-color:red;
color:red;}

70%{border-color:silver;
color:silver;}

80%{border-color: gold;
color:gold;}

90%{border-color: cyan;
color:cyan;}

100%{border-color: blanchedalmond;
color:blanchedalmond;}
}


form button{
    background-color: black;
    color: white;
    font-weight:bold;
    width:80px;
    height:30px;
    border-radius: 10px;
    border: 2PX solid #80ffdb;
    margin: 17px 20px 5px 60px;
    cursor: pointer;
}

form button:hover{
    background-color:#80ffdb ;
    color:black;
    font-weight:bold;
}

